<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #4ACAFF;">
  <div class="container">
      <a class="navbar-brand">DEMO APP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <div class="w3-bar">
              <div class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-blue w3-hover-text-blue"><a href="#myCarousel">HOME</a></div>
              <div class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-blue w3-hover-text-blue">ABOUT US</div>
              <div class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-blue w3-hover-text-blue">JOBS</div>
              <div class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-blue w3-hover-text-blue">CLIENTS</div>
              <div class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-blue w3-hover-text-blue">EMPLOYERS</div>
              <div class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-blue w3-hover-text-blue">CONTACT US</div>
                </div>
                </ul>
              </div>
        </div>
</nav>
<br>
<br>
<div style=" display:flex;">

    <div class="profileimg">
        <img style="width:310px; height:325px; margin:20px; margin-left: 200px; margin-top: 50px;" [src]="userData?.file">
        <button style="align-self: center; margin-left: 300px;" type="button" class="btn btn-warning" (click)="editProfile()"> Edit Profile</button>
      </div>
      
    <div class="col-md-8">
        <p style="margin-left:150px; font-size: medium; float:center;  margin-top:100px;">I'm {{userData?.fname}} {{userData?.lname}} and Im 
            above {{userData?.age}} years and you can send your emails to
            <br><a href>{{userData?.mail}}</a>, I live in the state of {{userData?.state}}.I like to play {{userData?.tags}}.And
            please send me newsletter,
            <br>Please reach out to me through my phone number {{userData?.mno}}.
        </p><br><br>
        <button style="align-self: center; margin-left: 300px;" type="button" class="btn btn-success">I Agree</button>

    </div>
</div>
<br><br><br>
 <!-- Footer -->
 <div class="footer">
  <br><br><br><h3>Subscribe to our Job Seeker Mailing List</h3><br>
    <i><input type="text1" name="jobdesc" placeholder="Enter Your Email Address"/>&emsp;&emsp;<span class="fa fa-envelope icon">
        </span></i></div>
        <div class="footer1">
  <br>
  <br>
  &emsp;&emsp;<span class="fa fa-envelope icon">&emsp;<input type="text1" style="width:80%;"><br><br></span>
    <p style="color:grey;">Copyright© 2014 Two Bytes Consulting.&emsp;&emsp;<b style="color:black;">Terms & Policies</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p>
  </div>
  <div>
  </div>